// home
.home {
  margin: 3rem 5%;
}

// search
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__bar {
    display: flex;
    align-items: center;
    min-width: 20rem;
    width: 30rem;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    background: var(--elements);

    .icon {
      cursor: pointer;
    }

    input {
      width: 100%;
      margin-inline-start: 2rem;
      cursor: text;
    }
  }

  &__filter {
    position: relative;
    width: 15rem;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
    background: var(--elements);
    cursor: pointer;
    transition: background 150ms;
    z-index: 999;

    &:hover {
      background: var(--shadow);
    }

    summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      font-size: 1.2rem;
    }

    div {
      position: absolute;
      inset-block-start: calc(100% + 0.3rem);
      inset-inline-start: 0;
      width: 100%;
      border-radius: 0.3rem;
      padding: 1rem;
      background: var(--elements);
      overflow: hidden;
      cursor: default;
    }

    button {
      display: block;
      margin: 0.5rem;
      transition: border 150ms;

      &:hover {
        border-block-end: 0.2rem solid var(--shadow);
      }
    }
  }
}

@media (max-width: 530px) {
  .search {
    flex-direction: column;
    align-items: flex-start;

    &__bar {
      width: 100%;
    }

    &__filter {
      margin-top: 30px;
    }
  }
}

// grid card
.cardGrid {
  margin-block-start: 3rem;
  border-bottom: 3rem solid var(--bg);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  place-items: center;
  row-gap: 5vw;
  column-gap: 2.5vw;
}

@media (max-width: 860px) {
  .cardGrid {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

// card
.card {
  width: 20rem;
  height: 25rem;
  min-height: 25rem;
  border-radius: 0.3rem;
  background: var(--elements);
  box-shadow: var(--shadow) 0 0 1rem 0.2rem;
  transition: transform 150ms;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
  }

  &__img {
    height: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    height: 50%;
    padding: 1.5rem;

    h2 {
      font-size: 1.6rem;
    }

    ul {
      margin: 1rem 0;

      li {
        font-size: 1.2rem;
        font-weight: 600;

        span {
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .card {
    width: 25rem;
    height: 30rem;
    min-height: 30rem;
    transition: none;

    &:hover {
      transform: none;
    }
  }
}
